* { Box-sizing: Border-box }

body {
font-family: "source-sans-pro", sans-serif;
font-style: normal;
font-weight: 300;
font-size: 20px;
background: #f6f6f6;
}

a, a:visited {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #80da02;
  transition: all .3s;
}

a:hover {
  border-color: #5da11e;
  background: #80da02;
  background: rgba(128,218,2, .3);
}


h1 {
  font-weight: 300;
  text-align: center;
}

h2 {
  font-size: 0.9em;
  font-style: oblique;
  font-weight: 300;
}

.js div.form-checkbox {
display: inline-block;
}

div[role="main"], div[role="footer"]{
  max-width: 35em;
  margin:auto;
}
form, .main-content {
  display:block;
  background: #fff;
  padding: 1em;
  border-radius: 5px;
}

div.differentiator {
  margin: 20px;
}

div.differentiator p {
  font-size: 0.8em;
}


img.logo {
  display:block;
  margin:auto;
  margin-top: 25px;
}
b {
  font-weight: 400;
}

li {
padding-bottom: .5em;
}
label {
  display: block;
  margin-bottom: 24px;
}

label.checkbox {
  text-indent: -35px;
  padding-left: 35px;
  font-weight: 400;
  line-height: 27px;
}

.description {
  text-indent: 0;
  font-weight: 300;
  line-height: 1.2;
}
 input[type="text"], input[type="email"], textarea {
  padding: 3px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #80da02;
  min-height: 36px;
  box-shadow: none;
  width: 100%;
  border-style: solid;
 }

span.label {
background: #80da02;
background: rgba(128,218,2, .3);
padding: 4px;
border-radius: 3px;
font-size: .6em;
text-transform: uppercase;
vertical-align: middle;
}

 label {
  cursor: pointer;
 }

 input[type="submit"] {
background: #80da02;
border: #80da02;
border-radius: 5px;
width: 100%;
color: white;
font-size: 2em;
transition: all .3s;
}

.email-update input[type="submit"] {
width: auto;
padding: .25em;
font-size: 1.3em;
}

input[type="submit"]:hover {
background: #5da11e;
cursor: pointer;

}

 input[type="text"]:hover, input[type="email"]:hover, textarea:hover {
  border-color: #5da11e;
 }

 input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  border-color: #dedede;
 }

 .js input[type="checkbox"], .js .radio-buttons {
  opacity: .01;
 }

.js .form-checkbox {
background-image: url('../img/form-ui.png');
background-image: url('../img/form-ui.svg'), none;
height: 29px;
width: 35px;
background-repeat: no-repeat;
background-position: 0 -23px;
display: inline-block;
/*overflow: hidden;*/
}

.js .form-checkbox.checked {
  height: 29px;
  width:35px;
  background-repeat: no-repeat;
  background-position: 0 3px;
}

.js .radio-buttons {
opacity: .01;
height: 1px;
/* width: 1px; */
overflow: hidden;
display: inline-block;
}

div[role="footer"] {
  font-size: .8em;
}
